<!doctype html>
<html lang="hr" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ToySwap</title>

    <link rel="icon" href="/images/logo.png"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>

<main class="min-vh-100 d-flex flex-column justify-content-between">
    <div>
        <div th:replace="~{fragments/header :: header}"></div>

        <div class="container">
            <div class="col-4 mx-auto" sec:authorize="hasAuthority('ADMIN')">
                <div th:insert="~{fragments/create-post}"></div>
            </div>

            <div class="d-flex">
                <th:block th:each="post : ${posts}">

                    <!--TODO: dizajn izgleda objave na pocetnoj stranici-->
                    <a class="card d-flex flex-column gap-2 p-3 mb-3" th:href="@{'/post/' + ${post.id}}">

                        <div class="d-flex gap-2">
                            <span th:text="${post.user.firstName}"></span>
                            <span th:if="${post.user.lastName}" th:text="${post.user.lastName}"></span>
                        </div>

                        <div class="d-flex gap-3">
                            <span th:text="${post.title}"></span>
                            <span class="badge bg-primary" th:text="${post.condition.croatian}"></span>
                        </div>
                        <span th:text="${post.getFormattedPrice()}"></span>
                        <span th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy HH:mm:ss')}"></span>

                        <img class="rounded border" width="200" height="200" th:src="@{'/post/image/' + ${post.images.get(0).id}}"
                             alt="image"/>
                    </a>

                </th:block>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>
</main>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>